# Contracts
contracts/lib/
contracts/out/
contracts/broadcast/
contracts/cache/

# Frontend
node_modules/
dist/
.env
.env.local
.DS_Store
coverage/
.docusaurus
.yarn/

# Subgraph
subgraph/node_modules/
# Allow build and generated
!subgraph/build/
!subgraph/generated/
